Checks: >
  *-,
  boost-*,

  bugprone-*,
  -bugprone-macro-parentheses,

  cert-*,

  clang-analyzer-*,
  clang-diagnostics-*,

  concurrency-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-special-member-functions,

  hicpp-*,
  -hicpp-special-member-functions,

  misc-*,

  modernize-*,

  performance-*,

  readability-*,
  -readability-const-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
WarningsAsErrors: "*"
FormatStyle: none
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 4
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassConstantCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
